<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2><i>If you can do this...the homework should be no problem.</i></h2>
    <div id="articles">
        {{#each articles}}
        <div>
            <h3 data-id=" {{_id}}">{{headline}}</h3>
            <p>{{summary}}</p><br>
            <a href=" {{url}}">{{url}}</a>
        </div>
        {{/each}}
    </div>

    <div id="comments"></div>
</div>